---
# 3.2.1 Ensure source routed packets are not accepted (Scored)

- name: 3.2.1 Ensure source routed packets are not accepted (Scored)
  sysctl:
    name: "{{ item }}"
    value: 0
    state: present
    reload: yes
    sysctl_set: yes
    ignoreerrors: yes
  with_items:
    - net.ipv4.conf.all.accept_source_route
    - net.ipv4.conf.default.accept_source_route
  tags:
    - level1
    - section3
    - section3_level1
    - scored
    - "3.2.1"
