---
# tasks file for ansible_role_cis_centos

- include: preflight.yml
  when: cis_apply_level_1_profile or cis_apply_level_2_profile
  tags: always

- include: prelim.yml
  tags:
    - always

- include: "section1.yml"
  become: yes
  when: cis_section1

- include: "section2.yml"
  become: yes
  when: cis_section2

- include: "section3.yml"
  become: yes
  when: cis_section3

- include: "section4.yml"
  become: yes
  when: cis_section4
